:root {

    /* ### Primary */

    --Marineblue: hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%);
    --Pastelblue: hsl(228, 100%, 84%);
    --Lightblue: hsl(206, 94%, 87%);
    --Strawberryred: hsl(354, 84%, 57%);

    /* ### Neutral */

    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 95%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'ubuntu-Bold';
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'ubuntu-medium';
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: 'ubuntu-regular';
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Magnolia);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    font-family: 'ubuntu-regular';
    font-size: 1rem;
}

.form {
    width: 945px;
    height: 600px;
    background: var(--White);
    border-radius: 15px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0px 4px 10px 0px #e3e3e3;
}

.tab {
    width: 274px;
    height: 568px;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    border-radius: 10px;
}

.Carousel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-left: 40px;

}


.sub {
    display: flex;
    align-items: center;
    gap: 20px;

}

.sub p {
    line-height: 4px;
    color: var(--White);
}

.sub p:nth-child(2) {
    font-style: bold;
}

.sub div:nth-child(1) {

    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    color: var(--White);
    border: 0.5px solid var(--White);


}

.sub div:nth-child(1):hover {
    border-color: var(--Lightblue);
}

.sub div:nth-child(1) .active {
    background: var(--Lightblue);
    color: var(--black);
}

.main {
    width: 655px;
    height: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.pinfo,
.SYP,
.addons,
.summary,
.thankYou {
    width: 450px;
    height: 500px;
    
}

.pinfo--title,
.SYP--title,
.addons--title,
.summary--title {
    color: var(--Marineblue);
}

.pinfo--descrp,
.SYP--descrp,
.addons--descrp,
.summary--descrp {
    color: var(--Coolgray);
}

.pinfo--fields {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.pinfo--fields .labeldiv {
    color: var(--Marineblue);
    margin-top: 30px;

}

.labeldiv {
    position: relative;
}

.labeldiv span {
    position: absolute;
    right: 0;
    color: var(--Strawberryred);
}

.pinfo--fields input {
    width: 450px;
    height: 50px;
    font-family: 'ubuntu-medium';
    font-size: 1rem;
    color: var(--Marineblue);
    outline-color: var(--Purplishblue);
    border: 0.5px solid var(--Lightgray);
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}

.pinfo--fields input::after {
    content: '222';
    background-color: blueviolet;
    width: 100%;
    color: yellow;
    font-size: 50px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    width: 450px;
    height: 50px;
    position: relative;
}

.btn--NStep {
    width: 125px;
    height: 50px;
    background-color: var(--Marineblue);
    font-family: 'ubuntu-bold';
    color: var(--White);
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.btn--GBack {
    width: 125px;
    height: 50px;
    background: none;
    font-family: 'ubuntu-bold';
    color: var(--Coolgray);
    border: none;
    position: absolute;
    left: 0;
    display: none;
    cursor: pointer;
}

.btn--GBack:hover {
    color: var(--Marineblue);
}




.SYP--fields {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}


.plan {
    width: 130px;
    height: 180px;
    border: 1px solid var(--Lightgray);
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 20px;
    box-sizing: border-box;
    cursor: pointer;

}

.plan:hover {
    border-color: var(--Purplishblue);
}

input[name="plan"] {

    display: none;
}

input[name="plan"]:checked+label div {
    background: var(--Magnolia);
    border-color: var(--Purplishblue);
}

.plan .title {
    font-family: 'ubuntu-bold';
    color: var(--Marineblue);
    margin-top: 30px;
    margin-bottom: 5px;
}

.plan .rate {
    font-family: 'ubuntu-regular';
    color: var(--Coolgray);
    margin: 8px 0px;
}

.plan .free {
    font-size: 0.8rem;
    margin: 0px;

}



.plan--switch {
    width: inherit;
    height: 50px;
    border-radius: 5px;
    background: var(--Magnolia);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 32px;

}

.plan--switch span {
    font-family: 'ubuntu-bold';
    color: var(--Coolgray);
}

.plan--switch span:nth-child(1) {
    margin-right: 15px;
    color: var(--Marineblue);
}

#toggle {
    display: none;
}

.switch--back {
    display: inline-block;
    width: 46px;
    background: var(--Marineblue);
    height: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.slider {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--White);
    transform: translateX(-52px);
    transition: 0.15s;

}

#toggle:checked+.slider {
    transform: translateX(-29px);
}

#toggle:checked+span:nth-child(2) {
    color: var(--Marineblue);
}

.addons--fields {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.addon {
    width: 450px;
    height: 80px;
    border: 1px solid var(--Lightgray);
    border-radius: 5px;
    display: flex;
    align-items: center;

}

.addon div:nth-child(1) {
    width: 70px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addon div:nth-child(2) {
    width: 300px;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

input[name="addonI"] {
    display: none;

}

input[name="addonI"]~span {
    width: 18px;
    height: 18px;
    border: 1px solid var(--Lightgray);
    border-radius: 4px;
}

input[name="addonI"]:checked~span {
    background-color: var(--Purplishblue);
    background-image: url(./assets/images/icon-checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.addon:has(input[name="addonI"]:checked) {
    background: var(--Magnolia);
    border-color: var(--Purplishblue);

}

.addon .title {
    font-family: 'ubuntu-bold';
    color: var(--Marineblue);
    margin: 0;
}

.addon .desc {
    font-family: 'ubuntu-regular';
    color: var(--Coolgray);
    margin: 0;

}

.addons--fields label {

    cursor: pointer;
}

.addons--fields .rateA {
    color: var(--Purplishblue);
}

.plan--details {
    width: 450px;
    min-height: 180px;
    background-color: var(--Lightgray);
    border-radius: 5px;
    margin-top: 60px;
    padding: 20px;
    box-sizing: border-box;

}

.plan--details table td {
    padding: 15px;

}

.plan--details table a {
    color: var(--Coolgray);
}

.plan--details table a:hover {
    color: var(--Purplishblue);
}

.summary--fields div:last-child {
    width: inherit;
    padding: 20px;

}

.summary--fields div:last-child p {
    display: inline-block;
    color: var(--Purplishblue);
    font-family: "ubuntu-bold";
}

.summary--fields div:last-child p:first-child {
    color: var(--Coolgray);
    width: 335px;
    font-family: "ubuntu-regular";
}

.thankYou--Fields {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.thankYou--Fields h1 {
    color: var(--Marineblue);
}

.thankYou--Fields p {
    color: var(--Coolgray);
}

.pinfo,
.SYP,
.addons,
.summary,
.thankYou {
    display: none;
}

.active {
    display: initial;
}

.activeT {
    color: var(--Marineblue) !important;
    background: var(--Lightblue);

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* -----------tablet------------- */
@media screen and (max-width:900px) {
    .form {
        width: 750px;
    }
}


/* --------------Phone------------------- */
@media screen and (max-width:500px) {
    body {

        justify-content: flex-start;
    }

    main {
        width: 100%;
    }

    .form {
        display: flex;
        align-items: center;

        flex-direction: column;
        background-color: var(--Magnolia);
        width: 100%;
        height: 100svh;
        padding: 0;
    }

    .text {
        display: none;
    }

    .tab {
        width: 100%;
        height: 172px;
        background-image: url(./assets/images/bg-sidebar-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0px;


    }

    .Carousel {
        width: 100%;
        height: 34px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 30px;
    }

    .main {
        width: 345px;
        height: auto;
        background-color: var(--White);
 
    }

    .pinfo ,.SYP,.addons,.summary,.thankYou{
        width: 345px;
        height: auto;
        padding: 30px;
        box-sizing: border-box;
        position: absolute;
        top: 90px;
        background: var(--White);
        border-radius: 10px;
        box-shadow: 0px 4px 10px 0px #e3e3e3;
    }

    .pinfo--title,.SYP--title {
        font-size: 1.5rem;
        margin: 0px;
    }

    .pinfo--descrp,.SYP--descrp {
        font-size: 1rem;
    }

    .pinfo--fields input {
        width: 290px;
        height: 40px;
    }

    footer {
        display: none;
    }

    .btn {
        width: 100%;
        height: 70px;
        background: var(--White);
        position: absolute;
        bottom: 0px;
        display: flex;
        align-items: center;
    }

    .btn--NStep {
        right: 16px;
    }
    .SYP--fields{
        display: block;
       
    }
    .plan{
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        padding-top: 0px;
        gap: 15px;
        margin-top: 15px;
    }
    .plan .title {
        margin: 0px;
    }
    .plan--switch {
        width: 100%;
    }
}